<h1 class="page-heading">HELP</h1>

<main id="help-page-content">

  <% # Contact Support %>

  <section id="Support">
  <h2>Contact Support</h2>
  <br>
  <p>You can contact support via <a href="#">email</a>. We will endeavour to respond within 24 hours.</p>
  </section>

  <% # FAQ %>

  <section id="FAQ">
  <h2>FAQ</h2>
  <br>
  <h3>How does GuitarBay work?</h3>
  <p>GuitarBay allows you to buy and sell guitars to other musos throughout Australia. GuitarBay offers low commissions, unlimited free listings and Australian-based support as some of its key features. Listings with GuitarBay contain detailed information about the guitar being sold so you can ensure the instrument you're purchasing is the one you're after, a feature not found on many of the other two-sided marketplace websites like eBay. Further, GuitarBay holds funds until we can verify an item has been sent or picked-up, allowing a level of security that is second-to-none, as well as disputes to be resolved fast.</p>
  <br>
  <h3>How do I make an account?</h3>
  <p>You can sign up for an account here. All you need is your email address! You can then start listing or buying guitars.</p>
  <br>
  <h3>How fast do I get paid once I sell my guitar?</h3>
  <p>Once someone buys your guitar, we hold the money until we can verify it has been picked up by the buyer or sent. As soon as this happens, we pay the purchase price, minus the payment processor fees and our commission, directly to your bank account! This is done within one business day of the verification being completed.</p>
  <br>
  <h3>How secure is GuitarBay?</h3>
  <p>GuitarBay uses Stripe for payments, a secure payment processor verified by VISA and MasterCard. Once you buy or sell a guitar, we hold onto the funds until we can verify the item has been picked up or sent, and then make the payout, allowing any disputes to be resolved.</p>
  </section>

  <% # Condition Guide %>

  <section id="condition-guide">
  <h2>Condition Guide</h2>
  <br>
  <p>The way in which we assess condition is lumped into seven categories. Prior to submitting a listing, please ensure you have selected the correct condition for your item, based on the descriptions below</p>
  <br>
  <h3>Brand New</h3>
  <p>This is an item that is brand new, still including tags and any items that came with it from the manufacturer (such as a case, whammy bar or any documentation). The item must be in mint condition, free from any damage or defects, and should have been played minimally.</p>
  <br>
  <h3>As New</h3>
  <p>This is an item that is in new condition. It must have been played minimally and be in mint condition. Items included in the brand new category are not required to be included in an as new item, however the condition should be the same.</p>
  <br>
  <h3>Used - Mint</h3>
  <p>This is an item that has been used however has no damage or defects. The item should be working and have been looked after during its life.</p>
  <br>
  <h3>Used - Good</h3>
  <p>This is an item that has been used and has minimal damage or issues. Minor issues such as small dents, improper setup and minor electronics issues are acceptable however the problem should not detract from the overall product's condition.</p>
  <br>
  <h3>Used - Average</h3>
  <p>This is a used item that has some wear, damage or other issues. The item must still be able to be used for its intended purpose.</p>
  <br>
  <h3>Used - Poor</h3>
  <p>This is a used item that has major wear, damage or defects that significantly detract from its condition. The item must still be fit for use.</p>
  <br>
  <h3>Defective</h3>
  <p>This is an item that, due to wear, damage or another issue is unable to be used for its purpose and is being sold for parts or for the buyer to repair.</p>
  </section>

</main>