#help-page-content {
  background: $white-color;
  max-width: 1000px;
  color: $black-color;
  margin: 0 auto 30px auto;
  padding: 30px;
  section {
    margin-bottom: 40px;
    h2 {
      color: $red-color;
    }
    h3 {
      color: $red-color;
      margin-bottom: 5px;
    }
  }
  #condition-guide {
    margin-bottom: 10px;
  }
}
