nav {
  background: $black-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  height: 47px;
  #navbar-logo-link {
    margin-right: auto;
    #navbar-logo {
      height: 50px;
    }
  }
  .navbar-link {
    color: $white-color;
    text-decoration: none;
    padding: 13px 15px;
    font-size: 13pt;
    &:hover {
      background: black;
    }
  }
}
