// Global variables

$black-color: #171717;
$grey-color: #444444;
$red-color: #da0037;
$white-color: #ededed;

$font-karla: "Karla", sans-serif;
$font-spectral: "Spectral", serif;

// CSS reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Importing partials

@import "partials/global/navbar";
@import "partials/global/footer";
@import "partials/homepage";

// Default background color and font

body {
  background: $grey-color;
  font-family: $font-karla;
}
