// This is the stylesheet through which all the partial stylesheets are served

// Global variables

$black-color: #171717;
$grey-color: #444444;
$red-color: #da0037;
$white-color: #ededed;

$font-body: "Karla", sans-serif;
$font-headings: "Spectral", serif;

// CSS reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Importing partials

@import "partials/global/navbar";
@import "partials/global/flash-messages";
@import "partials/global/card";
@import "partials/global/utility-classes";
@import "partials/global/devise";
@import "partials/homepage";
@import "partials/helppage";
@import "partials/listings-index-page";
@import "partials/show-listing-page";
@import "partials/listings-form";
@import "partials/my-account-page";
@import "partials/payment-success-page";

// Default background color and font

body {
  background: $grey-color;
  font-family: $font-body;
}
